<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template one</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body style=" font-family:'Open Sans', sans-serif; margin: 0;">
    <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td style="padding: 27px 16px 32px 16px;">
                    <table style="width: 100%; max-width:696px; margin-inline: auto;" width="100%" cellpadding="0"
                        cellspacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <img src="{{.additionalData.emailImagePath.Owndesk}}" alt="logo" style="width: 106px;
                                    height: 66px;">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table style="border-bottom: 1px solid #EEEEEE ;" width="100%" cellpadding="0"
                                        cellspacing="0" role="presentation">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h1
                                                        style="font-size: 20px; font-weight: bold;line-height: 27px;color:#000000; margin:59px 0  16px 0; ">
                                                        Hi {{.authorDetails.FirstName}} {{.authorDetails.LastName}} !</h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p
                                                        style="font-size: 14px; line-height: 24px; color: #000000;margin:0 0  32px 0 ;">
                                                        Use the following member Profile Details to verify the claim request</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3
                                                        style="font-size: 14px; line-height: normal; color: #000000; font-weight: bold; margin:0 0 8px 0 ;">
                                                        Profile Name: <span
                                                            style="font-size: 14px; line-height: normal; color: #000000; font-weight: normal;">{{.claimData.ProfileName}}</span>
                                                    </h3>
                                                    <h3
                                                        style="font-size: 14px; line-height: normal; color: #000000; font-weight: bold;margin:0 0 8px 0 ;">
                                                        Work Email: <span
                                                            style="font-size: 14px; line-height: normal; color: #000000; font-weight: normal;">{{.claimData.WorkMail}}</span>
                                                    </h3>

                                                    <h3
                                                        style="font-size: 14px; line-height: normal; color: #000000; font-weight: bold; margin:0 0 8px 0 ;">
                                                        Company Number: <span
                                                            style="font-size: 14px; line-height: normal; color: #000000; font-weight: normal;">+91
                                                            {{.claimData.CompanyNumber}}</span></h3>

                                                    <h3
                                                        style="font-size: 14px; line-height: normal; color: #000000; font-weight: bold;margin:0 ;">
                                                        Contact Person Name: <span
                                                            style="font-size: 14px; line-height: normal; color: #000000; font-weight: normal;">{{.claimData.PersonName}}</span></h3>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">

                                                    <a href="{{.link}}" style="background-color:#222222; border-radius:6px; padding:12px 0;color:#FFFFFF;font-size:17px;line-height:23px;text-decoration: none; display: block;width: 128px;
                                                        margin:40px auto;">Check</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="center">
                                    <p
                                        style="color: #262626; font-size: 11px; line-height: normal; font-weight: normal; padding: 16px 0 0 0; margin: 0;">
                                        ©Owndesk, 444 De Haro Street, Suite 200, San Francisco, CA 94107</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>