<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>GraphQL Playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://unpkg.com/graphql-playground-react/build/static/css/index.css" />
  <style>
    /* Include the contents of prism.css here */
    /* Copy and paste the content of your prism.css file */
  </style>
  <!-- Use the prism.css directly from the GitHub repository -->
</head>

<body>
  <div id="root">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/graphql-playground-react/build/static/js/middleware.js"></script>
  <script>
    window.addEventListener('load', () => {
      const root = document.getElementById('root');
      root.classList.add('playgroundIn');
        GraphQLPlayground.init(root, {
          endpoint: '/query',
          settings: {
            'request.credentials': 'same-origin',
          },
          tabs: [
            {
              endpoint: '/query',
              name: 'Channel Entries',
              query: 
`query($channelId: Int, $categoryId: Int,$limit: Int!,$offset: Int!){
  channelEntriesList(channelId: $channelId,categoryId: $categoryId, limit: $limit,offset: $offset){
    channelEntriesList{
      id
      title
      slug
      description
      userId
      channelId
      status
      isActive
      createdOn
      createdBy
      modifiedBy
      modifiedOn
      coverImage
      thumbnailImage
      metaTitle
      metaDescription
      keyword
      categoriesId
      relatedArticles
      featuredEntry
      categories{
        id
        categoryName
        imagePath
        parentId
      }
      additionalFields{
        sections{
          sectionId
          sectionName
          sectionTypeId
          createdOn
          createdBy
          modifiedOn
          modifiedBY
          orderIndex
        }
        fields{
          fieldId
          fieldName
          fieldTypeId
          mandatoryField
          optionExist
          createdOn
          createdBy
          imagePath
        }
      }
      memberProfile{
        memberId
        profileName
        companyLogo
        memberDetails
        profilePage
      }
      authorDetails{
        AuthorId
        FirstName
        LastName
        ProfileImagePath
        IsActive
        CreatedBy
      }
    }
    count
  }
}`,
variables:`{
  "limit": 10,
  "offset": 0
}`,
headers:{
  "Authorization":"{{.AuthToken}}"
}

            },
          ],
        });
      });
  </script>
</body>

</html>
